html
    head
        title Login
        link(rel='stylesheet', href='style.css', type='text/css' )
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', type='text/css' )
    body
        div.container

            form#login(method='POST' action='/login')
                h1 Login

                if message
                    div.alert #{message}

                div.form-group
                    label(for='email') E-Mail:
                    input(type='email', placeholder='sample@mail.com' name='email')
                div.form-group
                    label(for='password') Password:
                    input(type='password' name='password')
                div.form-group
                    button(type='submit') LOGIN

        script(src='/app.js')